* {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
    background-image: url(img/austin-neill-H6k-1Fk3SOY-unsplash.jpg);
    background-size: cover;
    font-size: 110%;
}

.container {
    /*
    background: linear-gradient(rgb(252, 252, 252), rgb(94, 255, 250));
    */
    
}

nav {
    background: linear-gradient(to right, #7fd4ee, #0e4f7a);
    height:70px;
    background-size: cover;
    background-position: center;
}

.titleText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: -webkit-linear-gradient(rgb(2, 60, 83), rgb(9, 117, 218));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    top: 5%;
    font-size: 3rem;
}

.card {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 400px;
    border-radius: 10px;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    z-index: 100;
    background-image: url(img/clearSky.jpg);
    transition: transform 0.4s;
    position: relative;
    left: 37%;
    margin-top: 3rem;
}
.cardText {
    color: white;
    margin-top: 1rem;
}

.inputText {
    margin-top: 1rem;
    border-radius: 10px;
    border: none;
    display: flex;
    gap: .5rem;
}

#textEntry {
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
}
#textEntry:focus {
    outline: rgb(0, 92, 153) auto 5px;
}

.btnSearch {
    background-color: rgb(18, 115, 224);

    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnSearch:hover {
    background-color: rgb(9, 90, 196);
    transition: 0.2s ease-out;
}

.weather {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: -1rem;
    color: white;
}

.city {
    margin-top: 1rem;
    font-size: 2rem;
    color: rgb(216, 235, 247);
}

.temp {
    font-size: 2rem;
    padding-top: 30px;
}

.feels_like {
    font-size: .8rem;
}

.description {
    padding-top: 30px;
    text-transform: capitalize;
    margin-left: 6px;
}

.flex {
    display: flex;
    align-items: center;
}
.flex .icon {
    margin-top: 22px;
    margin-left: -1rem;
}

.humidity {
    padding-top: 5px;
}
